[defaults]
inventory = inventory/hosts.yml
roles_path = roles
interpreter_python = auto_silent
stdout_callback = yaml
retry_files_enabled = False
display_skipped_hosts = False
forks = 10

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
